html {background: linear-gradient(90deg, rgba(6,124,161,1) 0%, rgba(164,228,216,1) 65%);}

h2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 50px;
    text-align: center;
    position: relative;
}

.button {
    position: relative;
    top:50%;
}

.wrapper {
    text-align: center;
}
